header{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-color);
  border-bottom:2px solid var(--light-blue-color) ;
  position: fixed;
  z-index: 10;
  .note{
    width: 100%;
    padding: 1em 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    @include breakPoints(mobile){
      padding: 1em;
    }
    p{
      width: 100%;
      color: var(--gray-color);
      @include breakPoints(mobile){
        font-size: 0.8em;
      }
    }
    img{
      width: 1.5em;
      cursor: pointer;
      &:hover{
        transform: scale(.9);
      }
      @include breakPoints(mobile){
        margin-left: 1em;
      }
    }
  }
  .main-header{
    width: 80%;
    background-color:var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakPoints(mobile){
      width: 100%;
      justify-content: space-around ;
    }
    @include breakPoints(small){
      width: 100%;
      padding: 0 1em;
    }
    @include breakPoints(medium){
      width: 100%;
      padding: 0 1em;
    }
    img{
      width: 7em;
    }
    .logo{
      padding: 1em;
      @include breakPoints(mobile){
        padding: 0.4em;
        width: 4em;
      }
    }
    .list{
      display: flex;
        .nav-cancel{
        display: none;
          background-color: red;
        }
      section{
        display: flex;
        align-items: center;
        background-color:var(--main-color);
        color: var(--white-color);
        padding: 0.7em 1em;
        border-radius: 30px;
        &:hover{
          background-color: var(--light-blue-color);
        }
        img{
          width:1.1em;
          margin-right: 0.5em;
        }
        h3{
          text-transform: capitalize;
          font-size: 1em;
          letter-spacing: 1px;
          @include breakPoints(mobile){
          font-size: .8em;
          }
        }
      }
  
      input{
        width: 30em;
        border: none;
        outline: none;
        padding: 0 1em;
        border-radius: 30px;
        color: var(--main-color);
        margin-left: 1em;   
        @include breakPoints(mobile){
          display: none;
        }
        @include breakPoints(small){
          width: 14em;
        }
      }
    }
    .languages{
      display: flex;
      align-items: center;
      @include breakPoints(mobile){
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: var(--gray-color);
        justify-content: space-around;
        padding:0.5em 0 ;
      }
      section{
        select{
          border: none;
          text-transform: uppercase;
          font-family: $main-font;
          background-color: var(--white-color);
          outline: none;
          padding: 0.5em;
          option{
            font-family: $main-font;
            text-transform: uppercase;
          }
        }
      }
      .small-icons{
        margin-left: 2em;
        img{
          width: 1.8em;
          &:nth-of-type(2){
            position: relative;
            &::after{
              content: '3';
              background-color: red;
              color: var(--white-color);
              border-radius: 50%;
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }
    }
  }
  .nav-list,select{
    cursor: pointer;
  }
}



// nav -----------------------------

nav{
  width: 100%;
  padding: 1em 0;
  z-index: 10;
  background-color:#e8e8e8;
  display: none;
  position: fixed;
  top: 9.9em;
  @include breakPoints(mobile){
    top: 7.9em;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    justify-items: center;
    @include breakPoints(mobile){
      justify-items: flex-start;
      gap: 1em 2em;
      height: 100vh;
      overflow: scroll;
    }
    ul{
      text-transform: capitalize;
      h4{
        margin-bottom: 1em;
        color: var(--main-color);
      }
      li{
        color: var(--light-blue-color);
        padding: .5em 0;
        cursor: pointer;
        &:hover{
          color: var(--main-color);
        }
      }
    }
  }
  animation: showNav .5s ease-in-out ;
  @keyframes showNav {
    0%{opacity: 0;}
    100%{opacity:1;}
  }
}